{* This is the welcome page, you can delete it *}

{block content}
	{control form}
{/block}


{block head}
<style>
	html { overflow-y: scroll; }
	body { font: 14px/1.65 Verdana, "Geneva CE", lucida, sans-serif; background: #3484d2; color: #333; margin-top: 40px; }
</style>
{/block}
